html, body {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-weight: 300;
    background-color: #16191A;
    color: white;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    cursor: none;
    box-sizing: border-box;

 }


 nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 20px 0px;
}

#navBody {
    display: flex;
    justify-content: flex-end;
}

.navItem {
    font-family: "HelviticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.005em;
    line-height: 16px;
    padding: 20px;
    backdrop-filter: blur(00.3rem);
}



.navItem:hover {
    border-bottom: 2px solid white;
    margin-bottom: -2px;
    color: #ADD600;
    cursor: none;
}

.contact:hover {
    border-bottom: 2px solid #ADD600;
    margin-bottom: -2px;
}

@media screen and (max-width: 600px) {
    .quote {
        font-size: 26px !important;
    }
    .skillCard svg {
        width: 85px;
    }
    .skillCard {
        margin: 10px;
    }
    nav {
        display: none;
    }
    .cursor {
        display: none;
    }
    html {
        overflow: auto;
    }
}



.offcanvas {
    width: 250px;
    background-color: #add600;
    display: flex;
    z-index: 1041;
    justify-content: center;

}

.contactItem {
    font-size: 16px;
    display: flex;
    margin: 15px;
    align-items: center;
    color: #16191A;
    padding: 5px;
    border-radius: 0.2rem;
    justify-content: center;
}

.contactItem:hover {
    color: #16191A;
    background-color: #cbcbcb;
}


i {
    font-size: 24px;
    margin-right: 10px  ;
}

a {
    all: unset;
}

.accent {
    color: #ADD600;
}

.cursor {
    width: 20px;
    height: 20px;
    border-radius: 40%;
    border: solid white 2px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 1042;
    mix-blend-mode: difference;
}
