
/*---------------------------Splash Screen--------------------------*/
#splash {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
    z-index: 100;
}




.arrowButton {
    margin-top: 10px;
    display: flex;
    justify-content: center;        
}

.arrowButton svg {
    transform: rotate(90deg);
}

.splash path {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
  }

/*---------------------------Main--------------------------*/

.containerWork {
    padding-top: vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10vw;
}

#workBody {
    min-height: 100vh;
    padding-top: 50px;
    margin-bottom: 10vh;
}

#workBody .quote {
font-size: 35px;
font-style: normal;
font-weight: 300;
line-height: 35px;
letter-spacing: 0.005em;
text-align: left;
width: 100%;
margin: 50px;
}

.workCard img {
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
}

.workCard {
    border-radius: 0.2rem;
    box-shadow: black solid 20px;
    margin: 5px;
    transform-style: preserve-3d;
    overflow: hidden;
    width: 45%;
}

.workCard:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.workCard img {
    width: 100%;
}


/*-----------------------Skills---------------------*/

#skillsBody {
    min-height: 100vh;
    padding-top: 100px;
}

.containerSkills {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin: 0px 10%;
    
}

.containerSkills .quote {
    width: 100%;
    margin: 50px;
}

.skillCard {
    border-radius: 0.5rem;
    background-color: #16191A;
    justify-content: center;
    align-content: center;
    margin: 15px;
    align-self: center;
    display: flex;
    position: relative;
    transform-style: preserve-3d;
    align-items: center;
    width: 60px;
    height: 60px;
    
}


.skillName {
    position: absolute;
    font-weight: 700;
    display: none;
}

.skillCard:hover svg {
    transform: translateZ(15px);
    filter: blur(0.25rem);  
    
}

.skillCard:hover div {
    display: block !important;
    transform: translateZ(16px);

}


#skillsBody .quote {
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 0.005em;
    text-align: left;
    margin-bottom: 50px;
    }

#aboutBody .quote {
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 0.005em;
    text-align: left;
    width: 100%;
    margin: 50px;
    }

#aboutBody {
    padding-top: 5vh;
    margin: 0 10%;
    min-height: 100vh;

}

.containerAbout {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;

}


.profile {
    height: 50vh;
border-radius: 0.3rem;
    justify-self: top;
    align-self: flex-start;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    
}


.content {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.003em;
    text-align: center;
    margin-right: 50px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    color: lightgrey;
    width: 70%;

}




/*-----------------------Other Properties---------------------*/

@media screen and (max-width: 600px) {
    .quote {
        font-size: 26px !important;
    }
    .skillCard svg {
        width: 85px;
    }

.workCard {
    width: 80%;
}

    .skillCard {
        margin: 10px;
    }
    nav {
        display: none;
    }
    .cursor {
        display: none;
    }
    html {
        overflow: auto;
    }
}



.arrow  {
    padding: 20px;
}

.accent {
    color: #ADD600;
}

a {
    all: unset;
}

