
/*---------------------------Splash Screen--------------------------*/
#splash {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
    z-index: 100;
}




.arrowButton {
    margin-top: 10px;
    display: flex;
    justify-content: center;
        
}

.splash path {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
  }

/*---------------------------Main--------------------------*/

.containerWork {
    padding-top: vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 5vw;
}

#workBody {
    min-height: 100vh;
}

#workBody .quote {
font-size: 35px;
font-style: normal;
font-weight: 300;
line-height: 35px;
letter-spacing: 0.005em;
text-align: left;
width: 100%;
margin: 50px;
margin-left: 15vw;
}

.workCard {
    height: 35vh;
    width: 40%;
    background-color: #3A3A3E;
    border-radius: 0.2rem;
    box-shadow: black solid 20px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    overflow: hidden;
}



.workCard h3 {
    font-size: 16px;
    line-height: 19.5px;
    padding-left: 20px;
    padding-top: 20px;
    margin: 0px;
    font-weight: 300px;
    display: none;
}

.workCard h4 {
    font-size: 12px;
    margin: 0px;
    padding-left: 20px;
    max-width: 160px;
    font-weight: 200;
    opacity: 50%;
    display: none;

}

.workCard:hover  {
    background-color: #ADD600;
    color: #16191A;
}


.workCard:hover h3 {
    font-size: 16px;
    line-height: 19.5px;
    padding-left: 20px;
    padding-top: 20px;
    margin: 0px;
    font-weight: 500px;
    display: block;
    color: white;
    filter: blur(0rem) !important;
}

.workCard:hover h4 {
    font-size: 12px;
    margin: 0px;
    padding-left: 20px;
    max-width: 160px;
    font-weight: 200;
    opacity: 100%;
    display: block;
    color: white;
}

.taskie:hover h3 {
    color: black;
}


.taskie:hover h4 {
    color: black;
}


.ctwm:hover h3 {
    color: black;
}


.ctwm:hover h4 {
    color: black;
}

.trailTalk:hover h3{
    color: black;
}


.trailTalk:hover h4{
    color: black;
}


.workCard:hover .noncolour {
    filter: Brightness(0) saturate(100%) invert(21%) sepia(13%) saturate(212%) hue-rotate(202deg) brightness(95%) contrast(91%);
}





/*-----------------------Skills---------------------*/

#skillsBody {
    min-height: 100vh;
}

.containerSkills {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin: 0px 10%;
}

.containerSkills .quote {
    width: 100%;
    margin: 50px;
}

.skillCard {
    border-radius: 0.5rem;
    background-color: #16191A;
    justify-content: center;
    align-content: center;
    margin: 15px;
    align-self: center;
    display: flex;
    position: relative;
    transform-style: preserve-3d;
    align-items: center;
    
}


.skillName {
    position: absolute;
    font-weight: 700;
    display: none;
}

.skillCard:hover svg {
    transform: translateZ(15px);
    filter: blur(0.25rem);  
    
}

.skillCard:hover div {
    display: block !important;
    transform: translateZ(16px);

}


#skillsBody .quote {
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 0.005em;
    text-align: left;
    margin-bottom: 50px;
    }

#aboutBody .quote {
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 0.005em;
    text-align: left;
    width: 100%;
    margin: 50px;
    }

#aboutBody {
    padding-top: 13vh;
    margin: 0 10%;
    min-height: 100vh;

}

.containerAbout {
    display: flex;
    flex-flow: row wrap;
}


.profile {
    height: 50vh;
    justify-self: center;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    
}


.content {
    flex-grow: 1;
}




/*-----------------------Other Properties---------------------*/

@media screen and (max-width: 600px) {
    .quote {
        font-size: 26px !important;
    }
    .skillCard svg {
        width: 85px;
    }
    .skillCard {
        margin: 10px;
    }
    nav {
        display: none;
    }
    .cursor {
        display: none;
    }
    html {
        overflow: auto;
    }
}



.arrow  {
    padding: 20px;
}

.accent {
    color: #ADD600;
}

a {
    all: unset;
}

