html, body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-weight: 300;
    background-color: #16191A;
    color: white;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    cursor: none;
    box-sizing: border-box;
}

.arrow  {
    padding: 20px;
}

.accent {
    color: #ADD600;
}

a {
    all: unset;
}

#renders {
    margin: 20vh 0vw !important; 
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}




.displayFull {
    height: 90vh;
    -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0); 
    transform: translateZ(0);
    border-radius: 0.3rem;
    margin-top: 10px;
}



.displayHalf {
    width: 45%;
    margin-top: 10px;
    -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0); 
    transform: translateZ(0);
    border-radius: 0.3rem;
}
