html, body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-weight: 300;
    background-color: #16191A;
    color: white;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    cursor: none;
    box-sizing: border-box;
}

.arrow  {
    padding: 20px;
}

.accent {
    color: #ADD600;
}

a {
    all: unset;
}


.cursor {
    width: 20px;
    height: 20px;
    border-radius: 40%;
    border: solid white 2px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 101;
}

h2 {
    padding: 50px 0px;
}



section {
    margin: 0px 10vw;
}

.fluidContainer {
    max-height: 60vh;
    padding-bottom: 50px;
}

img {
    max-height: 60vh;
    max-width: 80vw;
}

.reverse {
    flex-direction: row-reverse ;
}




nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 20px 0px;
}

#navBody {
    display: flex;
    justify-content: flex-end;
}

.navItem {
    font-family: "HelviticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.005em;
    line-height: 16px;
    padding: 20px;
    backdrop-filter: blur(00.3rem);
}



.navItem:hover {
    border-bottom: 2px solid white;
    margin-bottom: -2px;
    color: #ADD600;
    text-decoration: none;
}

.contact:hover {
    border-bottom: 2px solid #ADD600;
    margin-bottom: -2px;
    text-decoration: none;
}


#preview {
    height: 20vh !important;
}


section {
    
    text-align: center;
}