html, body {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-weight: 300;
    background-color: #16191A;
    color: white;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    cursor: none;

 }


/*---------------------------Splash Screen--------------------------*/



#splash {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
    z-index: 100;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;

}




.arrowButton {
    margin-top: 10px;
    display: flex;
    justify-content: center;
        
}

.splash path {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
  }


/*---------------------------------Nav-----------------------------*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 25px;
    backdrop-filter: blur(00.1rem);
}



#workBody {
    overflow: auto;
    height: 100vh;
}


.navigation {
    display: flex;
    justify-content: flex-end;
    padding-top: 35px;
}

.navLogo {
font-size: 24px;
font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:600; font-stretch:condensed;
font-weight: 700px;
line-height: 19px;
letter-spacing: -0.105em;
float: left;
margin: 0px;
padding-top: 30px;
padding-left: 60px;
}

.navItem {
    font-family: "HelviticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.005em;
    line-height: 16px;
    height: 25px;
    margin: 0px 15px;
    padding: 0px 5px;
    
    
}

.contact svg {
    padding: 0px;
    float: right;
    padding-left: 5px;
}

.navSpacer {
    width: 8.33%;
}


.contact {
    margin: 0px;
    padding-top: 0px;
}

.navItem:hover {
    border-bottom: 2px solid white;
    margin-bottom: -2px;
}

.contact:hover {
    border-bottom: 2px solid #ADD600;
    margin-bottom: -2px;
}



/*---------------------------Main--------------------------*/


#workBody {
    height: minmax(100vh, fit-content);
}

.containerWork {
    padding-top: 20vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10%;

}

#workBody .quote {
font-size: 35px;
font-style: normal;
font-weight: 300;
line-height: 35px;
letter-spacing: 0.005em;
text-align: left;
width: 100%;
margin-bottom: 50px;
}

.workCard {
    height: 340px;
    width: 15rem;
    background-color: #3A3A3E;
    border-radius: 0.5rem;
    margin: 16px;
    box-shadow: black solid 20px;
    display: flex;
    flex-direction: column;
}

.workSpacer {
    flex-grow: 1;
}

.workCard h3 {
    font-size: 16px;
    line-height: 19.5px;
    padding-left: 20px;
    padding-top: 20px;
    margin: 0px;
    font-weight: 300px;
}

.workCard h4 {
    font-size: 12px;
    margin: 0px;
    padding-left: 20px;
    max-width: 160px;
    font-weight: 200;
    opacity: 50%;
}

.workCard:hover  {
    background-color: #ADD600;
    fill: #16191A;
    color: #16191A;
}

.workCard:hover h4 {
    opacity: 100%;
}

.workCard:hover path {
    filter: Brightness(0) saturate(100%) invert(21%) sepia(13%) saturate(212%) hue-rotate(202deg) brightness(95%) contrast(91%);
}





/*-----------------------Skills---------------------*/

#skillsBody {
    overflow: hidden;
    height: 100vh;
    margin: 0 10vw;
    height: 100vh;
    padding-top: 20vh;
}

.containerSkills {
    display: flex;
    flex-flow: row wrap;
    width: 0 10vw;
    justify-content: center;
    align-content: center;
}

.skillCard {
    border-radius: 0.5rem;
    background-color: #3A3A3E;
    justify-content: center;
    align-content: center;
    margin: 15px;
    align-self: center;
    display: block;
    position: relative;
}




#skillsBody .quote {
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 0.005em;
    text-align: left;
    margin-bottom: 50px;
    }

.learnMore {
    flex-grow: 2;
    height: 140px;
    background-color: #3A3A3E;
    border: solid 1px #ADD600;
    border-radius: 1rem;
    align-self: baseline;
    margin: 15px;
    justify-self: baseline;
}

@keyframes blurIn {
    from {
      filter: blur(0);
    }
  
    to {
      filter: blur(0.2rem);
    }
  }


.skillCard > svg:hover {
    animation: blurIn 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

}



/*-----------------------Other Properties---------------------*/

.arrow  {
    padding: 20px;
}

.accent {
    color: #ADD600;
}

a {
    all: unset;
}


.cursor {
    width: 20px;
    height: 20px;
    border-radius: 40%;
    border: solid white 2px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 100;
}

main > nav {
    display: block;
}











