html, body {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-weight: 300;
    background-color: #16191A;
    color: white;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    cursor: none;
    box-sizing: border-box;

 }


/*---------------------------Splash Screen--------------------------*/



#splash {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
    z-index: 100;
}




.arrowButton {
    margin-top: 10px;
    display: flex;
    justify-content: center;
        
}

.splash path {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
  }


/*---------------------------------Nav-----------------------------*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 100;
    padding: 20px 0px;
}

#navBody {
    display: flex;
    justify-content: flex-end;
}

.navItem {
    font-family: "HelviticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.005em;
    line-height: 16px;
    padding: 20px;
    backdrop-filter: blur(00.3rem);
}



.navItem:hover {
    border-bottom: 2px solid white;
    margin-bottom: -2px;
    color: #ADD600;
}

.contact:hover {
    border-bottom: 2px solid #ADD600;
    margin-bottom: -2px;
}



/*---------------------------Main--------------------------*/

.containerWork {
    padding-top: 13vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10%;

}

#workBody {
    min-height: 100vh;
}

#workBody .quote {
font-size: 35px;
font-style: normal;
font-weight: 300;
line-height: 35px;
letter-spacing: 0.005em;
text-align: left;
width: 100%;
margin: 50px;
}

.workCard {
    height: 340px;
    width: 15rem;
    background-color: #3A3A3E;
    border-radius: 0.5rem;
    margin: 16px;
    box-shadow: black solid 20px;
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    overflow: hidden;
}

.aiatsis {
    background-image: url(./assets/aiatsis-03.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.ctwm {
    background-image: url(./assets/ctwm-01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.taskie {
    background-image: url(./assets/taskie-01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: black;
}


.tbu {
    background-image: url(./assets/tbu-01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
}
.aiatsislogo {
    height: 75px;
}


.workCard h3{
    display: none;
}

.workcar


.workCard h3 {
    font-size: 16px;
    line-height: 19.5px;
    padding-left: 20px;
    padding-top: 20px;
    margin: 0px;
    font-weight: 300px;
}


.workCard h4 {
    font-size: 12px;
    margin: 0px;
    padding-left: 20px;
    max-width: 160px;
    font-weight: 200;
    opacity: 50%;
    display: none;

}

.workCard:hover {
filter: blur(0.2rem);
}


.workCard:hover  {
    background-color: #ADD600;
    color: #16191A;
}

.workCard:hover .icon {
    position: relative;
    transform: translateZ(50px);
}

.workCard:hover h3 {
    font-size: 16px;
    line-height: 19.5px;
    padding-left: 20px;
    padding-top: 20px;
    margin: 0px;
    font-weight: 500px;
    display: block;
    color: white;
    filter: blur(0rem) !important;
}

.workCard:hover h4 {
    font-size: 12px;
    margin: 0px;
    padding-left: 20px;
    max-width: 160px;
    font-weight: 200;
    opacity: 100%;
    display: block;
    color: white;
}

.taskie:hover h3 {
    color: black;
}


.taskie:hover h4 {
    color: black;
}


.ctwm:hover h3 {
    color: black;
}


.ctwm:hover h4 {
    color: black;
}


.workCard:hover .noncolour {
    filter: Brightness(0) saturate(100%) invert(21%) sepia(13%) saturate(212%) hue-rotate(202deg) brightness(95%) contrast(91%);
}





/*-----------------------Skills---------------------*/

#skillsBody {
    min-height: 100vh;
    height: 100vh;
    padding-top: 20vh;
}

.containerSkills {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin: 0px 10%;
}

.containerSkills .quote {
    width: 100%;
    margin: 50px;
}

.skillCard {
    border-radius: 0.5rem;
    background-color: #16191A;
    justify-content: center;
    align-content: center;
    margin: 15px;
    align-self: center;
    display: block;
    position: relative;
    transform-style: preserve-3d;
}

.skillCard:hover svg {
    transform: translateZ(35px)
}


#skillsBody .quote {
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 0.005em;
    text-align: left;
    margin-bottom: 50px;
    }

.learnMore {
    width: 318px;
    height: 140px;
    background-color: #3A3A3E;
    border: solid 1px #ADD600;
    border-radius: 1rem;
    margin: 15px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.learnMore svg {
    margin: 0px 15px;
    width: 80px;
}

.learnMore span {
    font-family: "HelviticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
}

.text {
    margin-top: -8px;
}

.learnMore p {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
width: 200px;
}



#aboutBody .quote {
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 0.005em;
    text-align: left;
    width: 100%;
    margin: 50px;
    }

#aboutBody {
    padding-top: 13vh;
    margin: 0 10%;
    height: 100vh;

}


.containerAbout {
    display: flex;
    height: 90vh;
}


.profile {
    height: 50vh;
    float: right;
    align-self: center;
}


/*-----------------------Other Properties---------------------*/

.arrow  {
    padding: 20px;
}

.accent {
    color: #ADD600;
}

a {
    all: unset;
}


.cursor {
    width: 20px;
    height: 20px;
    border-radius: 40%;
    border: solid white 2px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 101;
}